type: object
title: tideconfig.v1
description: ''
properties:
  schemaVersion:
    description: TIDE schema version
    type: number
    x-go-type: int
  clinicId:
    $ref: ../clinicId.v1.yaml
  period:
    type: string
    pattern: ^(1d|7d|14d|30d)$
    example: 7d
  lastDataCutoff:
    type: string
    format: date-time
  highGlucoseThreshold:
    description: Minimum exclusive threshold in mmol/L for categorizing if a glucose value is high as established by the AACE.
    type: number
    x-go-type: float64
  veryHighGlucoseThreshold:
    description: Minimum exclusive threshold in mmol/L for categorizing if a glucose value is very high as established by the AACE.
    type: number
    x-go-type: float64
  extremeHighGlucoseThreshold:
    description: Minimum inclusive threshold in mmol/L for categorizing if a glucose value is extremely high. Not defined by the AACE.
    type: number
    x-go-type: float64
  lowGlucoseThreshold:
    description: Maximum exclusive threshold in mmol/L for categorizing if a glucose value is low as established by the AACE.
    type: number
    x-go-type: float64
  veryLowGlucoseThreshold:
    description: Maximum exclusive threshold in mmol/L for categorizing if a glucose value is very low as established by the AACE.
    type: number
    x-go-type: float64
  tags:
    $ref: ../patientTagIds.v1.yaml
  filters:
    $ref: ./tideFilters.v1.yaml

required:
  - schemaVersion
  - clinicId
  - period
  - lastDataCutoff
  - highGlucoseThreshold
  - veryHighGlucoseThreshold
  - lowGlucoseThreshold
  - veryLowGlucoseThreshold
  - tags
  - filters
