name: publish

on:
  workflow_dispatch:
  workflow_call:

jobs:
  publish:
    strategy:
      matrix:
        target: [ publish_public, publish_private ]
    runs-on: ubuntu-latest
    env:
      PUBLIC_STOPLIGHT_TOKEN: ${{ secrets.PUBLIC_STOPLIGHT_TOKEN }}
      PRIVATE_STOPLIGHT_TOKEN: ${{ secrets.PRIVATE_STOPLIGHT_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.17.0'
      - name: Setup script environment
        run: |
            make install_tools check_tools
      - name: Run ${{ matrix.target }}
        run: |
            make ${{ matrix.target }}
